.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.about-me {
  width: 60vw;
}

.about-links img {
  width: 50px;
  margin: 10px;
}

.my-links,
.nasa-links {
  width: 30vw;
}

@media only screen and (max-width: 800px) {
  .my-links,
.nasa-links {
  width: 100vw;
}

.about-container {
  padding-top: 0px;
  padding-bottom: 70px;
}
}