.image-page {
  padding: 70px 10% 0px;
}

.image-column-heading {
  display: flex;
  justify-content: space-between;
}

.page-title {
  flex: 1;
  font-family: 'Nasa', sans-serif;
  letter-spacing: 2.5px;
  font-size: 1.7vw;
}

.nasa-title {
  flex: 2;
}

.image-columns {
  display: flex;
  justify-content: space-around;
}