.nav-bar-container {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 5px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  width: 100vw;
}

.nav-banner {
  display: flex;
}

.nav-logo {
  height: 3.1vw;
  margin: 0 10px;
}

.nav-title {
  font-family: "Nasa", sans-serif;
  letter-spacing: 2.5px;
  font-size: 4vw;
  margin: 0;
}

.nav-bar-links {
  display: flex;
  list-style: none;
  margin: 5px;
  padding: 0px 10px;
  font-family: "Nasa", sans-serif;
}

.link {
  display: flex;
  flex-direction: column;
  color: #bcbdbe;
  text-decoration: none;
  padding: 0px 10px;
}

.link:hover {
  text-decoration: none;
  color: #e9e9ea;
}

.link-text {
  padding-top: 8px;
}

.nav-logo-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav-bar-container {
    position: relative;
  }

  .nav-logo {
    display: none;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-title {
    font-size: 10vw;
    padding: 10px 0px;
  }

  .nav-logo-mobile {
    display: block;
    width: 50%;
  }

  .nav-bar-links {
    display: flex;
    background-color: rgba(0, 0, 0, 0.24);
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
  }
}
