.news-page {
    display: flex;
    flex-direction: column;
    padding: 70px 10% 0px 10%;
}

.column-heading {
    display: flex;
}

.news {
    flex: 3;
}

.news-column {
    display: flex;
}

.news-page-mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .news-page-mobile {
        display: block;
    }

    .news-page {
        display: none;
    }
}