html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  background-color: #0064b2;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cdd0d3;
  text-align: center;
}

.nav-bar-container {
  position: absolute;
  background-color: #032949;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  width: 1100px;
}

.nav-banner {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 4em;
}

.nav-title {
  font-family: 'Nasa', sans-serif;
  letter-spacing: 2.5px;
  font-size: 3em;
  margin: 0;
}

.nav-bar-links {
  display: flex;
  list-style: none;
}

.link {
  display: flex;
  flex-direction: column;
  color: #bcbdbe;
  text-decoration: none;
  padding: 0px 10px;
}

.link:hover {
  text-decoration: none;
  color: #e9e9ea;
}

.search-bar {
  padding-top: 90px;
}

.search-bar i {
  position: absolute;
  padding: 10px ;
}

.search-bar input {
  width: 280px;
  transition:  ease-in-out, width .35s ease-in-out;
  height: 34px;
  padding: 0px 8px 0px 40px;
  background-color: #2881e0;
  color: #bcbdbe;
  border: 0px;
  border-radius: 5px;
}

.search-bar input:focus {
  width: 380px;
  outline: none;
}

::placeholder {
  color: #a9aaaa;
}

.image-column-heading {
  display: flex;
  justify-content: space-around;
}

.page-title {
  flex: 1;
  font-family: 'Nasa', sans-serif;
  letter-spacing: 2.5px;
}

.image-columns {
  display: flex;
  justify-content: space-around;
  /* column-gap: 70px; */
  margin: 0px 10px;
}

.nasa-page,
.apod-page,
.jw-page, .space-flight-news {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  max-height: calc(100vh - 210px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  margin: 0px 40px;
}

.nasa-page::-webkit-scrollbar,
.apod-page::-webkit-scrollbar,
.jw-page::-webkit-scrollbar,
.space-flight-news::-webkit-scrollbar {
  display: none;
}

.jw-image-card img {
  padding-top: 15px;
  max-width: 100%;
}

.card-container {
  background-color: #032949;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.image-desc {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
}

.image-desc p {
  width: 70%;
}

.card-container .card-button {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  transform-style: preserve-3d;
  perspective: 5000px;
  padding: 0px;
}

.card-front img {
  max-width: 100%;
  max-height: 100%;
}

.front-panel {
  padding: 0px;
  border: 0px;
}

.image-title {
  display: flex;
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.card-back {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #cdd0d3;
}

.front-face-transition-enter {
  transform: rotateY(180deg);
}
.front-face-transition-enter-active {
  transition: all 1000ms ease;
  transform: rotateY(0deg);
}
.front-face-transition-enter-done {
  transform: rotateY(0deg);
}

.front-face-transition-exit {
  transform: rotateY(0deg);
}

.front-face-transition-exit-active {
  transform: rotateY(180deg);
  transition: all 1000ms ease;
}

.front-face-transition-exit-done {
  transform: rotateY(180deg);
}

.back-face-transition-enter {
  transform: rotateY(-180deg);
  visibility: visible;
}
.back-face-transition-enter-active {
  transform: rotateY(0deg);
  transition: all 1000ms ease;
  visibility: visible;
}
.back-face-transition-enter-done {
  transform: rotateY(0deg);
  visibility: visible;
}

.back-face-transition-exit {
  transform: rotateY(0deg);
  visibility: visible;
}

.back-face-transition-exit-active {
  transform: rotateY(-180deg);
  transition: all 1000ms ease;
  visibility: visible;
}

.back-face-transition-exit-done {
  transform: rotateY(-180deg);
  visibility: visible;
}

.news-page {
  padding-top: 65px;
}

.news-card-img{
  width: 500px;
}