html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  background-color: #0064b2;
  color: #cdd0d3;
  text-align: center;
}